.hidden {
	display: none !important;
}

.agent {
	display: inline-block;
    margin: 5px;
    width: 45%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    background-color: white;
    border-radius: 20px;
}

.agent-header {
	width: 100%;
	min-height: 30px;
	display: inline-block;
}

.agent-id {
    overflow: hidden;
    display: inline-block;
    float: left;
    min-height: 30px;
    margin-top: 13px;
    margin-left: 15px;
    font-size: 16px;
}

.agent-toggle {
	float: right;
	display: inline-block;
    width: 85px;
    min-height: 30px;
}

.agent-queue {
	overflow: scroll;
	height: 135px;
	background: #DFDFDF;
	border: 1px solid black;
	border-radius: 20px;
}

.agent-queue a {
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	width: 80%;
	margin-right: 10px
}

.agent-queue span {
	display: inline-block;
}

.agent-disable-wrapper {
	margin-bottom: 10px;
}

.agent-disable-text {
	margin-right: 15px;
}

.agent-info-description {
	margin-left: 15px;
	margin-bottom: 0;
}

.agent-info {
	margin-bottom: 15px;
}

.agent-info-body, .query-by-date-body {
	max-height: 250px;
	width: 700px;
}

.agent-info-entry {
	width: 100%;
}

.agent-info-id {
	float: right;
    width: 200px;
}

.agent-info-entry .heading {
	font-size: 1.17em;
	font-weight: bold;
}

.command-bar {
	width: 100%;
	background: #BBB;
	height: 25px;
}

.command-bar button {
	margin-left: 10px;
}

.command-bar i {
	margin-right: 5px;
}

.command-bar div {
	float: right;
    margin-top: 2px;
}

.param-wrapper {
	margin: 10px;
}

#query-by-date-results {
	list-style-type: none;
	margin-top: 0;
	padding-left: 0;
	padding-right: 0;
}

#query-by-date-results h4 {
	margin-top: 0;
}

#query-by-date-results h4:nth-child(1),
#query-by-date-results div:nth-child(1) {
	display: inline-block;
	width: 375px;
	overflow: hidden;
	height: 20px;
	white-space: nowrap;
}

#query-by-date-results h4:nth-child(2),
#query-by-date-results div:nth-child(2) {
	display: inline-block;
	width: 125px;
	overflow: hidden;
	height: 20px;
	white-space: nowrap;
}

#query-by-date-results h4:nth-child(3),
#query-by-date-results div:nth-child(3) {
	display: inline-block;
	overflow: hidden;
	height: 20px;
	white-space: nowrap;
}

.report-date {
	width: 10.5rem;
}


/* LEDs for Queue Status */

.container {
	background-size: cover;
  	background: rgb(226,226,226); /* Old browsers */
  	background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6+ */
  	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
  	background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
  	background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
  	background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* IE10+ */
  	background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C */
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
  	padding: 20px;
}

.led-box {
	display: inline-block;
	margin: 13px 0;
  	float: left;
}

.coral-Well {
	border: 1px solid #333;
}
.coral-Table-cell .led-box {
	width: 100%;
}

.led-red {
  margin: 0 auto;
  width: 16px;
  height: 16px;
  background-color: #F00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
  -webkit-animation: blinkRed 0.5s infinite;
  -moz-animation: blinkRed 0.5s infinite;
  -ms-animation: blinkRed 0.5s infinite;
  -o-animation: blinkRed 0.5s infinite;
  animation: blinkRed 0.5s infinite;
}

@-webkit-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-moz-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-ms-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-o-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}

.led-yellow {
  	margin: 0 auto;
  	width: 16px;
  	height: 16px;
  	background-color: #FF0;
  	border-radius: 50%;
  	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
  	-webkit-animation: blinkYellow 1s infinite;
  	-moz-animation: blinkYellow 1s infinite;
  	-ms-animation: blinkYellow 1s infinite;
  	-o-animation: blinkYellow 1s infinite;
  	animation: blinkYellow 1s infinite;
}

@-webkit-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@-moz-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@-ms-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@-o-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}

.led-green {
  	margin: 0 auto;
  	width: 16px;
  	height: 16px;
  	background-color: #ABFF00;
  	border-radius: 50%;
  	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}

.led-blue {
  	margin: 0 auto;
  	width: 16px;
  	height: 16px;
  	background-color: #24E0FF;
  	border-radius: 50%;
  	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #3F8CFF 0 2px 14px;
}

.no-agents {
	margin: 15px;
}

.flush-agents {
	margin-top: .9375rem
}

.flush-agents .coral-Well {
	height: 40px;
    background-color: #AAA;
    border-radius: 20px;
}

.flush-agents .flush-id {
	float: left;
    width: auto;
    height: 40px;
    margin-top: 10px;
    margin-bottom: auto;
    font-size: 16px;
}

.flush-agents button {
	float: right;
}