<!-- Modal definition for the Agent List modal accessible via the command bar -->
<coral-dialog variant=default data-sly-use.modalsuse="org.kp.cpc.use.ModalsUse" id="agent-list-modal" fullscreen closable="on">

  	<coral-dialog-header>Agent Listing</coral-dialog-header>
 
  	<coral-dialog-content>
		<table class="coral-Table">
	  		<thead class="coral-Table-head">
	    		<tr class="coral-Table-row">
	      			<th class="coral-Table-headerCell">Title</th>
	      			<th class="coral-Table-headerCell">ID</th>
	    		</tr>
	  		</thead>
	  		<tbody class="coral-Table-body" data-sly-list.agent="${modalsuse.allAgentConfigs}">
	  			<tr class="coral-Table-row">
	    			<td class="coral-Table-cell">${agent.getName}</td>
	    			<td class="coral-Table-cell">${agent.getAgentId}</td>
	  			</tr>
			</tbody>
		</table>
  	</coral-dialog-content>

  	<coral-dialog-footer>
    	<button is="coral-button" variant="minimal" coral-close></button>
  	</coral-dialog-footer>
 
</coral-dialog>