<sly data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" />
<sly data-sly-call="${clientLib.css @ categories='cpc'}" />

<sly data-sly-include="${'legend-modal.html'}"/>
<sly data-sly-include="${'agents-info-modal.html'}"/>
<sly data-sly-include="${'query-by-date-modal.html'}"/>

<div data-sly-use.cpcuse="org.kp.cpc.use.CPCUse">

  <!-- Command Bar -->
  <div class="command-bar">
    <button id="legend-button" class="coral-MinimalButton">
      <i class="coral-Icon coral-Icon--infoCircle coral-MinimalButton-icon"></i>
      <div>Legend</div>
    </button>
    <button id="all-agents-list-button" class="coral-MinimalButton">
      <i class="coral-Icon coral-Icon--book coral-MinimalButton-icon"></i>
      <div>Agent Listing</div>
    </button>
    <button id="query-by-date-button" class="coral-MinimalButton">
      <i class="coral-Icon coral-Icon--report coral-MinimalButton-icon"></i>
      <div>Reporting</div>
    </button>
  </div>

  <div class="coral-TabPanel coral-TabPanel--large" data-init="tabs">
    <div class="no-agents" data-sly-test="${cpcuse.agentGroups.size <= 0}">
      No agent groups have been configured in the Felix console.
    </div>
    <nav data-sly-list="${cpcuse.agentGroups}" class="coral-TabPanel-navigation">
      <a class="coral-TabPanel-tab ${itemList.first ? 'is-active' : ''}" data-toggle="tab">${item.title}</a>
    </nav>
    <div data-sly-list="${cpcuse.agentGroups}" class="coral-TabPanel-content">
      <section class="coral-TabPanel-pane is-active">
        
        <!-- Agent Group Control -->
        <div class="agent-disable-wrapper ${!cpcuse.canModify ? 'hidden' : ''}">
          <div class="coral-ButtonGroup ">
            <button class="group-toggle coral-ButtonGroup-item coral-Button coral-Button--secondary">
              <i class="coral-Icon coral-Icon--playCircle"></i>
              Unpause all ${item.title} agents
            </button>
            <button class="group-toggle coral-ButtonGroup-item coral-Button coral-Button--secondary">
              <i class="coral-Icon coral-Icon--pauseCircle"></i>
              Pause all ${item.title} agents
            </button>
          </div>
        </div>

        <!-- Listing of Replication Agents -->
        <h3 class="coral-Heading coral-Heading--3">Replication Agents</h3>
        <h5 class="coral-Heading coral-Heading--5">The following are the configured replication agents for the ${item.title} group</h5>
        <div data-sly-list.agent="${item.replicationAgentMetas}">
          <div class="agent coral-Well" data-agent="${agent.agentId}">
            <div class="agent-header">
              <div class="led-box">
                <div class="led-green"></div>
              </div>
              <div class="agent-id">${agent.agentId}</div>
              <label class="agent-toggle coral-Switch" data-id="${agent.agentId}">
                <sly data-sly-test="${!agent.paused}">
                  <input class="coral-Switch-input" type="checkbox" checked disabled="${!cpcuse.canModify}">
                </sly>
                <sly data-sly-test="${agent.paused}">
                  <input class="coral-Switch-input" type="checkbox" disabled="${!cpcuse.canModify}">
                </sly>
                <span class="coral-Switch-offLabel">Off</span>
                <span class="coral-Switch-onLabel">On</span>
              </label>
            </div>
            <div class="agent-queue coral-Well">
            </div>
          </div>
        </div>
        
        <!-- Listing of Dispatcher Flush Agents from Publish -->
        <h3 class="coral-Heading coral-Heading--3">Dispatcher Flush Agents</h3>
        <h5 class="coral-Heading coral-Heading--5">The following are the dispatcher flush agents present on each of the publish instances pointed to by each of the above replication agents</h5>
        <div data-sly-list.agent="${item.flushAgentMetas}">
          <div class="agent coral-Well" data-agent="${agent.agentId}">
            <div class="agent-header">
              <div class="led-box">
                <div class="led-green"></div>
              </div>
              <div class="agent-id">${agent.agentId}</div>
              <label class="agent-toggle coral-Switch" data-id="${agent.agentId}">
                <sly data-sly-test="${!agent.paused}">
                  <input class="coral-Switch-input" type="checkbox" checked disabled="${!cpcuse.canModify}">
                </sly>
                <sly data-sly-test="${agent.paused}">
                  <input class="coral-Switch-input" type="checkbox" disabled="${!cpcuse.canModify}">
                </sly>
                <span class="coral-Switch-offLabel">Off</span>
                <span class="coral-Switch-onLabel">On</span>
              </label>
            </div>
            <div class="agent-queue coral-Well">
            </div>
          </div>
        </div>

      </section>
    </div>
  </div>

</div>

<sly data-sly-call="${clientLib.js @ categories='cpc'}" />