<sly data-sly-include="${'legend-modal.html'}"/>
<sly data-sly-include="${'agent-list-modal.html'}"/>
<sly data-sly-include="${'reporting-modal.html'}"/>

<div data-sly-use.cpcuse="org.kp.cpc.use.CPCUse">

  <!-- Command Bar -->
  <div class="command-bar coral--dark">
    <button id="legend-btn" is="coral-button" variant="minimal" icon="infoCircle">
      Legend
    </button>
    <button id="agent-list-btn" is="coral-button" variant="minimal" icon="book">
      Agent Listing
    </button>
    <button id="reporting-btn" is="coral-button" variant="minimal" icon="report">
      Reporting
    </button>
  </div>

  <coral-tabview maximized orientation="horizontal">
    <coral-tablist data-sly-list="${cpcuse.agentGroups}">
      <coral-tab role="tab" id="${item.title}">
        <coral-tab-label>${item.title}</coral-tab-label>
      </coral-tab>
    </coral-tablist>
    <coral-panelstack maximized role="presentation" data-sly-list="${cpcuse.agentGroups}">
      <coral-panel role="tabpanel">
        <coral-panel-content>
          <!-- Agent Group Control -->
          <div class="agent-disable-wrapper ${!cpcuse.canModify && !cpcuse.canClear ? 'hidden' : ''}">
            <div class="coral-ButtonGroup ">
              <button id="unpause-group-btn" class="coral-ButtonGroup-item coral-Button coral-Button--secondary">
                <i class="coral-Icon coral-Icon--playCircle"></i>
                Unpause all ${item.title} agents
              </button>
              <button id="pause-group-btn" class="coral-ButtonGroup-item coral-Button coral-Button--secondary">
                <i class="coral-Icon coral-Icon--pauseCircle"></i>
                Pause all ${item.title} agents
              </button>
              <button id="enable-group-btn" class="coral-ButtonGroup-item coral-Button coral-Button--secondary">
                <i class="coral-Icon coral-Icon--playCircle"></i>
                Enable all ${item.title} agents
              </button>
              <button id="disable-group-btn" class="coral-ButtonGroup-item coral-Button coral-Button--secondary">
                <i class="coral-Icon coral-Icon--pauseCircle"></i>
                Disable all ${item.title} agents
              </button>
              <button data-sly-test="${cpcuse.canClear}" id="delete-group-cache-btn" class="coral-ButtonGroup-item coral-Button coral-Button--secondary">
                <i class="coral-Icon coral-Icon--folderDelete"></i>
                Delete cache for all ${item.title} dispatchers
              </button>
            </div>
          </div>
  
          <!-- Listing of Replication Agents.  item refers to one AgentGroup in our List<AgentGroup> -->
          <coral-masonry layout="variable" columnwidth="550" spacing="15" data-sly-list.agent="${item.replicationAgentMetas}">
            <coral-masonry-item class="agent coral--dark" data-agent="${agent.agentId}" data-transporturi="${agent.transportUri}">
              <coral-actionbar>
                <coral-actionbar-container>
                  <coral-actionbar-item class="led-box">
                    <div class="led-green"></div>
                  </coral-actionbar-item>
                  <coral-actionbar-item>
                    <div class="id-label">${agent.agentId}</div>
                  </coral-actionbar-item>
                </coral-actionbar-container>
                <coral-actionbar-container>
                  <coral-actionbar-item>
                    <div class="switch-label">Standby</div>
                  </coral-actionbar-item>
                  <coral-actionbar-item>
                    <coral-switch class="agent-toggle-standby" data-id="${agent.agentId}" checked="${!agent.standby}" disabled="${!cpcuse.canModify}"></coral-switch>
                  </coral-actionbar-item>
                  <coral-actionbar-item>
                    <div class="switch-label">Active</div>
                  </coral-actionbar-item>
                  <coral-actionbar-item>
                    <div class="switch-label">Disabled</div>
                  </coral-actionbar-item>
                  <coral-actionbar-item>
                    <coral-switch class="agent-toggle-enabled" data-id="${agent.agentId}" checked="${agent.enabled}" disabled="${!cpcuse.canModify}"></coral-switch>
                  </coral-actionbar-item>
                  <coral-actionbar-item>
                    <div class="switch-label">Enabled</div>
                  </coral-actionbar-item>
                  <coral-actionbar-item>
                    <button class="view-log-btn" is="coral-button" variant="minimal" title="View Log" icon="textLeft"></button>
                  </coral-actionbar-item>
                  <coral-actionbar-item>
                    <button class="view-queue-btn" is="coral-button" variant="minimal" title="View Queue" icon="layers"></button>
                  </coral-actionbar-item>
                </coral-actionbar-container>
              </coral-actionbar>
              <div class="agent-queue coral-Well">
              </div>
              
              <!-- List of all corresponding flush agents.  item refers to one ReplicationAgentMetadata in our List<ReplicationAgentMetadata> -->
              <sly data-sly-list.flush="${agent.flushAgents}">
                <coral-actionbar>
                  <coral-actionbar-container>
                    <coral-actionbar-item>
                      <div>${flush.agentId}</div>
                    </coral-actionbar-item>
                  </coral-actionbar-container>
                  <coral-actionbar-container>
                    <coral-actionbar-item class="cache-deletion-failure">
                      <coral-alert variant="error">
                        <coral-alert-content>Cache deletion failed</coral-alert-content>
                      </coral-alert>
                    </coral-actionbar-item>
                    <coral-actionbar-item class="cache-deletion-success">
                      <coral-alert variant="success">
                        <coral-alert-content>Cache deletion Succeeded</coral-alert-content>
                      </coral-alert>
                    </coral-actionbar-item>
                    <coral-actionbar-item>
                      <button 
                        class="delete-cache-btn" 
                        is="coral-button"
                        variant="primary" 
                        icon="globeRemove" 
                        iconsize="S" 
                        data-transporturi=${flush.transportUri}
                        data-id="${flush.agentId}">
                        Delete Cache
                      </button>
                    </coral-actionbar-item>
                  </coral-actionbar-container>
                </coral-actionbar>
              </sly>
            </coral-masonry-item>
          </coral-masonry>
        </coral-panel-content>
      </coral-panel>
    </coral-panelstack>
  </coral-tabview>

</div>