<!-- Modal definition for the Reporting modal accessible via the command bar -->
<coral-dialog variant="default" data-sly-use.modalsuse="org.kp.cpc.use.ModalsUse" id="reporting-modal" fullscreen closable="on">
  <div id="wait-overlay"><coral-wait centered size="L"/></div>
  <coral-dialog-header>Reporting by Date Range</coral-dialog-header>

  <coral-dialog-content>
    <coral-actionbar>
      <coral-actionbar-container>
        <coral-actionbar-item>
          <coral-datepicker id="startdate" placeholder="Start Date..." name="startdate" valueformat="YYYY-MM-DD" displayformat="YYYY-MM-DD"></coral-datepicker>
        </coral-actionbar-item>
        <coral-actionbar-item>
          <coral-datepicker id="enddate" placeholder="End Date..." name="enddate" valueformat="YYYY-MM-DD" displayformat="YYYY-MM-DD"></coral-datepicker>
        </coral-actionbar-item>
        <coral-actionbar-item>
            <coral-select name="reporttype" id="report-type" placeholder="Report type...">
              <coral-select-item>Modified</coral-select-item>
              <coral-select-item>Activated</coral-select-item>
              <coral-select-item>Locked</coral-select-item>
            </coral-select>
        </coral-actionbar-item>
      </coral-actionbar-container>
      <coral-actionbar-container>
        <coral-select name="publisher" id="publishers" placeholder = "Publish instance..." data-sly-list="${modalsuse.publishers}">
          <coral-select-item value="${item.url}">${item.id}</coral-select-item>
        </coral-select>
      </coral-actionbar-container>
    </coral-actionbar>
  
    <div id="results">

    </div>
  </coral-dialog-content>

  <coral-dialog-footer>
    <button is="coral-button" variant="primary" data-sly-test="${modalsuse.canModify}" disabled id="unlock-selected-btn">Unlock Selected</button>
    <button is="coral-button" variant="primary" data-sly-test="${modalsuse.canModify}" disabled id="activate-selected-btn">Activate Selected</button>
    <button is="coral-button" variant="primary" id="query-btn" disabled>Query</button>
    <button is="coral-button" variant="primary" id="query-to-csv-btn" disabled>Query and Export to CSV</button>
    <button is="coral-button" variant="minimal" coral-close></button>
  </coral-dialog-footer>

</coral-dialog>