.agent {
	display: inline-block;
    margin: 5px;
    width: 45%;
    height: 225px;
}

.agent-header {
	width: 100%;
	min-height: 30px;
}

.agent-id {
    overflow: hidden;
    display: inline-block;
    min-height: 30px;
    margin-top: 10px;
}

.agent-toggle {
	float: right;
	display: inline-block;
    width: 85px;
    min-height: 30px;
}

.agent-queue, .release-review {
	overflow: scroll;
	height: 100px;
	background: #DFDFDF;
	border: 1px solid black;
}

.agent-queue a, .release-review a {
	display: block;
	width: 100%;
}

.agent-disable-wrapper {
	margin-bottom: 10px;
}

.agent-disable-text {
	margin-right: 15px;
}

.agent-info-description {
	margin-left: 15px;
	margin-bottom: 0;
}

.agent-info-body, .query-by-date-body {
	max-height: 300px;
	width: 750px;
}

.agent-info-entry {
	width: 100%;
}

.agent-info-id {
	float: right;
    width: 200px;
}

.agent-info-entry .heading {
	font-size: 1.17em;
	font-weight: bold;
}

.command-bar {
	width: 100%;
	background: #BBB;
}

.command-bar button {
	margin-left: 10px;
}

.command-bar i {
	margin-right: 5px;
}

.command-bar div {
	float: right;
    margin-top: 2px;
}